{% extends 'base.html.twig' %}

{% block title %}Psycho Pâte{% endblock %}

{% block body %}
<h1>Bienvenue chez Psycho Pâte</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for pizza in pizzas %}
        <h2> {{pizza.name}} </h2>
        <div class="img_wrapper">
            <img src="{{asset('uploads/images/' ~ pizza.imageName) }}" alt="Image de la pizza {{pizza.name}}">
        </div>
        <p>description : {{pizza.content}} </p>
        <p> type de patte : {{pizza.patte.type}} </p>
        <ul>
            {% for Ingredient in pizza.Ingredient %}
            <li> {{ Ingredient.name}} </li>
            {% else %}
            <li>Aucun ingrédient spécial pour cette pizza</li>
            {% endfor %}
        </ul>
        <a href=" {{path('app_update', {'id' : pizza.id})}}">Modifier</a>

        {# BOUTON SUPPRIMER #}
        <form method="POST" onsubmit="return confirm('Confirmer la suppression ?')" action="{{ path('app_delete', {'id': pizza.id}) }}">
            <input type="hidden" name="_method" value="delete"> {#Cette ligne est pour eviter les conflits --> creuser pourquoi quand meme #}
            <input type="hidden" name="_token" value=" {{ csrf_token('SUP' ~ pizza.id) }}"> 
            <input id="delete" type="submit" value="Supprimer">
        </form>
    {% endfor %}
{% endblock %}
